<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#4DB6AC;">
<nav class="navbar navbar-light" style="background-color:#55FF33;">
    <a href="{% url 'home' %}" class="navbar-brand" style="background-color:#FFCC33;color:#000000;border-width:10px;border-color:#FFCC33;border-style:solid;border-spacing:30px;border-radius: 5px;">HomePage</a>
    <a href="{% url 'upload-order' %}" class="navbar-link btn-lg" style="background-color:#FFCC33;color:#000000;">Add Order</a>
</nav>
<br>
    <center>
    <h1 class="display-3" style="background-color:#000000;color:#FFFF99;">Orders list</h1>
        <table class = 'w-50 table table-light' style="border-radius:10px;background-color:#FFFF99;">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Customer</th>
                <th scope="col">Employee</th>
                <th scope="col">Order Date</th>
                <th scope="col">Ship via</th>
            </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr class="{{ order.shipped_date|yesno:'table-success,table-danger' }}">
                    <td><a href="{% url 'detail-order' order.order_id %}">{{ order.order_id }}</a></td>
                    <td>{{ order.customer.company_name }}</td>
                    <td>{{ order.employee.first_name }}  {{ order.employee.last_name }}</td>
                    <td>{{ order.order_date }}</td>
                    <td>{{ order.ship_via }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
</body>
</html>
