<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#4DB6AC;">
<nav class="navbar navbar-light" style="background-color:#55FF33;">
    <a href="{% url 'home' %}" class="navbar-brand" style="background-color:#FFCC33;color:#000000;border-width:10px;border-color:#FFCC33;border-style:solid;border-spacing:30px;border-radius: 5px;">HomePage</a>
    <a href="{% url 'orders' %}" class="navbar-link btn-lg" style="background-color:#FFCC33;color:#000000;">Return to Orders</a>
</nav>
    <center>
    <h1 class="display-3" style="background-color:#000000;color:#FFFF99;">Add Order</h1>
    <form id="form-container" method="POST">
        {% csrf_token %}
        <div class="order-form">
        <table class = 'w-50 table table-light' style="border-radius:10px;background-color:#FFFF99;">
            {% for field in order_form %}
            <tr>
                <th>{{ field.label }}</th>
                <td>{{ field }}</td>
                <td>{{ field.errors }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
        <h1 class="text-uppercase" class="text-center">Products</h1>
        {{prod_formset.management_form}}
        {{prod_formset.non_form_errors}}
        {% for form in prod_formset %}
        <div class="order_details-form">
        <table class = 'w-50 table table-light' style="border-radius:10px;background-color:#FFFF99;">
            {% for field in form.visible_fields %}
            <tr>
                <th>{{ field.label }}</th>
                <td>{{ field }}</td>
                <td>{{ field.errors }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
        {% endfor %}
        <button id="add-form" type="button" class="btn btn-warning">Add another product</button>
        <button type="submit" class="btn btn-primary">Create order</button>
    </form>
    </center>
    <script>
        let orderDetailsForm = document.querySelectorAll(".order_details-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_orderdetail_set-TOTAL_FORMS")

        let formNum = orderDetailsForm.length-1
        addButton.addEventListener('click', addForm)

        function addForm(e){
            e.preventDefault()

            let newForm = orderDetailsForm[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, addButton)

            totalForms.setAttribute('value', `${formNum+1}`)
        }
    </script>
</body>
</html>
